Importing the Dependencies

In [118]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier  
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [119]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('/content/heart (2).csv')

In [120]:
# print first 5 rows of the dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [121]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0
1025,34,0,0,0,0,0,0,0,0,0.0,0,0,0,0
1026,65,0,0,45,56,1,1,34,1,0.8,1,0,0,0
1027,45,1,0,0,0,0,0,0,0,0.0,0,0,0,0
1028,34,1,35,56,67,45,1,34,1,4.2,1,2,2,0

In [122]:
# number of rows and columns in the dataset
heart_data.shape

(1029, 14)

In [123]:
# getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1029 entries, 0 to 1028
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1029 non-null   int64
 1   sex       1029 non-null   int64
 2   cp        1029 non-null   int64
 3   trestbps  1029 non-null   int64
 4   chol      1029 non-null   int64
 5   fbs       1029 non-null   int64
 6   restecg   1029 non-null   int64
 7   thalach   1029 non-null   int64
 8   exang     1029 non-null   int64
 9   oldpeak   1029 non-null   float64
 10  slope     1029 non-null   int64
 11  ca        1029 non-null   int64
 12  thal      1029 non-null   int64
 13  target    1029 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.7 KB

In [124]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [125]:
# statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000,1029.000000
mean,54.395530,0.694849,0.972789,131.198251,245.163265,0.193392,0.529640,148.600583,0.337221,1.072206,1.381924,0.753158,2.316812,0.511176
std,9.110008,0.460695,1.478523,18.762429,53.242366,1.442988,0.527775,24.412690,0.472991,1.177796,0.619796,1.030329,0.632086,0.500118
min,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.000000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,35.000000,200.000000,564.000000,45.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [126]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

1    526
0    503
Name: target, dtype: int64

1 --> Defective Heart

0 --> Healthy Heart

Splitting the Features and Target

In [127]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [128]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1024   54    1   0       120   188    0        1      113      0      1.4
1025   34    0   0         0     0    0        0        0      0      0.0
1026   65    0   0        45    56    1        1       34      1      0.8
1027   45    1   0         0     0    0        0        0      0      0.0
1028   34    1  35        56    67   45        1       34      1      4.2

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1024      1   1     3
1025      0   0     0
1026      1   0     0
1027      0   0     0
1028      1   2     2

[1029 rows x 13 columns]

In [129]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1024    0
1025    0
1026    0
1027    0
1028    0
Name: target, Length: 1029, dtype: int64

Splitting the Data into Training data & Test Data

In [130]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [131]:
print(X.shape, X_train.shape, X_test.shape)

(1029, 13) (823, 13) (206, 13)

Model Training

Logistic Regression

In [132]:
model= DecisionTreeClassifier(criterion='entropy', random_state=0)  
model.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [133]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

Model Evaluation

Accuracy Score

In [134]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [135]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [136]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [137]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  1.0

Building a Predictive System

In [146]:
input_data = (51,0,0,0,0,0,0,0,0,0,0,0,0)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

Saving the trained model

In [139]:
import pickle

In [140]:
filename = 'heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [141]:
# loading the saved model
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

In [142]:
for column in X.columns:
  print(column)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal